version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "nuget"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      microsoft-extensions:
        patterns:
          - "Microsoft.Extensions*"
      microsoft-entityframeworkcore:
        patterns:
          - "Microsoft.EntityFrameworkCore*"
  - package-ecosystem: "docker"
    directory: "/DragaliaAPI/DragaliaAPI"
    schedule:
      interval: "weekly"
  - package-ecosystem: "docker"
    directory: "/PhotonStateManager/DragaliaAPI.Photon.StateManager"
    schedule:
      interval: "weekly"
  - package-ecosystem: "cargo"
    directory: "/MaintenanceWorker"
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm"
    directory: "/MaintenanceWorker"
    schedule:
      interval: "weekly"
#  - package-ecosystem: "npm"
#    directory: "/Website"
#    schedule:
#      interval: "weekly"
