@page
@model NewsModel
@using DragaliaAPI.Pages

<meta name="viewport" content="width=device-width, initial-scale=1.0">  

<div id="root">
	<h1 class="title">Welcome to Dawnshard</h1>
	<h3 class="title">Version: @Model.Version</h3>
	<hr />

	<div id="news">
	<h1 class="title">News</h1>
	@foreach (NewsItem item in Model.NewsItems)
	{
		<div class="news-headline">
			<h3 class="news-headline-item">@item.Headline</h3>
			<h4 class="date">@item.Date</h4>
		</div>
		<p>@item.Description</p>
	}
	</div>

	<h2 class="title">About / FAQ</h2>

	<p>This project is in a very experimental stage, and many features are still yet to be implemented.</p>

	<p>The server owner can be contacted via Discord at <code>dreadfullydistinct#1458</code>. Alternatively, this server and others can be discussed in the <a href="https://discord.gg/j9zSttjjWj">Dragalia Lost Reverse Engineering Discord server</a>.</p>
	
	<p><b>The database may be wiped without warning and any progress removed, so please try not to get too attached to progress you make on this server.</b> If you want to gain access to specific characters, rather than wasting time summoning, please use the <a href="https://github.com/sockperson/DragaliaSaveEditor/releases/latest">save editor</a> developed by <code>sockperson#8317</code>.</p>

	<h2>What should work</h2>
	<ul>
		<li>The tutorial up until halfway through Ch. 1</li>
		<li>Editing parties</li>
		<li>Most boss fights and main story quests<sup>1</sup></li>
		<li>Summoning</li>
		<li>Upgrading characters and their mana circles</li>
		<li>Upgrading and crafting weapons</li>
		<li>Upgrading dragons</li>
		<li>Bonding with dragons and the dragon's roost</li>
		<li>The Halidom (view-only)</li>
	</ul>
	<p><sup>1</sup>Every quest has 3 continues and revives, so the difficulty isn't the same.</p>

	<h2>What does not work</h2>
	<ul>
		<li>Accurate quest drops<sup>1</sup></li>
		<li>The encyclopedia</li>
		<li>Events and event compendium</li>
		<li>Co-op, including battle royale and raids</li>
		<li>Endeavours</li>
		<li>Kaleidoscape</li>
		<li>The Mercurial Gauntlet</li>
		<li>Wagabond Pupper</li>
		<li>The shop</li>
		<li>Treasure trade</li>
		<li>Upgrading/editing Halidom buildings</li>
	</ul>
	<p><sup>1</sup>Each quest drops broadly the right items, but the quantities are wrong and the items are not assigned per-enemy.</p>

	<h2>Importing a save</h2>
	<p>To import a savefile, create an account and upload your savedata.txt at <a href="https://baas.lukefz.xyz/">https://baas.lukefz.xyz/</a>. Then, link that same account to your device when logging into the server. The savefile should then be imported automatically.</p>

	<h2>Errors</h2>
	<p>Receiving a 'Failed to connect to server' error usually means you have tried to do something that isn't implemented yet (HTTP 404). However, if you receive a pop-up saying 'Server error. Returning to title screen' or 'There was a problem with the received data', then something has actually gone wrong internally and we would be grateful if you could report these errors over Github or Discord.</p>

	<h1>Acknowledgements</h1>
	<p>Special thanks to the following users, who have contributed to the server source code:</p>
	<ul>
		<li><code>Nano#9384</code></li>
		<li><code>LukeFZ#4035</code></li>
		<li><code>Nightmerp#0124</code></li>
	</ul>

	<p>Additional special thanks to:</p>
	<ul>
		<li><code>LukeFZ#4035</code> (again) for creating the Dragalipatch app (which you are likely using to play on this server); reverse engineering the game and enabling documentation of the API; and also creating the substitute Nintendo login server that enables account linking.</li>
		<li><code>Ceris#2530</code> for sharing ideas about server development and how the game works. She is the developer of another server emulator at <a href="https://orchis.cherrymint.live">orchis.cherrymint.live</a>. I recommend swapping between servers to help find as many bugs as possible!</li>
	</ul>
	
	<p>Are you interested in contributing? This server is written in C# using the ASP.NET Core stack. See the <a href="https://github.com/SapiensAnatis/Dawnshard">GitHub repository</a> for more information.</p>
</div>

<!-- You're not meant to do this, apparently, but CSS isolation via .cshtml.css wasn't working -->
<style>
	html {
		font-size: calc(14px + 0.4vw);
	}

	body {
		font-family: sans-serif;
		margin: 10% 5% 0% 5%;
		width: min(90%, 1000px);
	}

	h1 {
		font-size: 1.5rem;
	}
	

	h2 {
		font-size: 1.3rem;
	}

	h3 {
		font-size: 1.125rem;
	}

	h4 {
		font-size: 1.1rem;
	}

	@@media (max-width: 1000px) p {
		font-size: 36px;
	}

	.title {
		text-align: center;
	}

	#news {
		margin-bottom: 10%;
	}

	.news-headline {
		display: flex;
		flex-direction: row;
		gap: 2rem;
	}

	.news-headline-item {
		margin-top: auto;
		margin-bottom: auto;
	}

	.date {
		margin-left: auto;
		margin-top: auto;
		margin-bottom: auto;
	}
</style>