version: '3.4'

volumes:
  pgdata:
  #logs:

services:
  dragaliaapi:
    container_name: dragaliaapi
    hostname: dragaliaapi
    image: ${DOCKER_REGISTRY-}dragaliaapi
    build:
      context: .
      dockerfile: DragaliaAPI/Dockerfile
    environment:
      - ASPNETCORE_URLS=http://+:80
    ports:
      - "80:80"
    links:
      - postgres
    env_file:
      - .env
    
  postgres:
    hostname: postgres
    image: postgres:latest
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    hostname: redis
    image: redis/redis-stack
    ports:
      - "6379:6379"
      - "8001:8001"

  #seq:
  #  image: datalust/seq:latest
  #  ports:
  #    - 5340:80
  #    - 5341:5341
  #  environment:
  #    ACCEPT_EULA: "Y"
  #  volumes:
  #    - logs:/data