name: Build

on:
  workflow_call:
    inputs:
      ref:
        required: true
        type: string
        description: ref to checkout
      dockerfile:
        required: true
        type: string
        description: path to Dockerfile
      image-name:
        required: true
        type: string
        description: Docker image name

env:
  HUSKY: 0
  CI_BUILD: true

jobs:
  build:
    name: Build Docker image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}
          fetch-depth: 0

      - name: Get NerdBank version
        uses: dotnet/nbgv@v0.4.2
        id: nbgv
        with:
          path: ${{ inputs.dockerfile }}/../../

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u $ --password-stdin

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          file: ${{ inputs.dockerfile }}
          tags: ghcr.io/sapiensanatis/${{ inputs.image-name }}:${{ steps.nbgv.outputs.SemVer2 }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
