name: Build

on:
  workflow_call:
    inputs:
      ref:
        required: true
        type: string
        description: ref to checkout
      dockerfile:
        required: true
        type: string
        description: path to Dockerfile
      image-name:
        required: true
        type: string
        description: Docker image name
    outputs:
      tag:
        description: The tag applied to the container image
        value: ${{ jobs.build.outputs.tag }}

env:
  HUSKY: 0
  CI_BUILD: true

jobs:
  build:
    name: Build Docker image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    outputs:
      tag: ${{ steps.output-tag.outputs.tag }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}
          fetch-depth: 0
          
      - name: Get version.json directory
        run: |
          dockerfile_dir=$(dirname ${{ inputs.dockerfile }}) 
          for path in "$dockerfile_dir/version.json" "$dockerfile_dir/../version.json"; do
            echo Checking $path
            if test -f $path; then
              echo Found version.json at $path
              json_dir=$(dirname $path)
              echo "VERSION_JSON_PATH=$json_dir" >> "$GITHUB_ENV"
              exit 0
            fi
          done
          
          echo Failed to find version.json
          exit 1

      - name: Get NerdBank version
        uses: dotnet/nbgv@v0.4.2
        id: nbgv
        with:
          path: ${{ env.VERSION_JSON_PATH }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u $ --password-stdin

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          file: ${{ inputs.dockerfile }}
          tags: ghcr.io/sapiensanatis/${{ inputs.image-name }}:${{ steps.nbgv.outputs.SemVer2 }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          labels: |
            org.opencontainers.image.source=${{ github.repositoryUrl }} 
            org.opencontainers.image.revision=${{ github.sha }} 
            org.opencontainers.image.authors=github.com/${{ github.repository_owner }}
      
      - name: Output tag
        id: output-tag
        run: echo "tag=${{ steps.nbgv.outputs.SemVer2 }}" >> $GITHUB_OUTPUT
