name: Deploy

on:
  workflow_call:
    inputs:
      github-environment:
        type: string
        required: true
        description: "GitHub environment name"
      version:
        type: string
        required: true
        description: "Version to deploy"

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    concurrency: 
      group: deploy
      cancel-in-progress: false
    environment:
      name: ${{ inputs.github-environment }}
      url: https://dawnshard.co.uk
    steps:
      - name: setup ssh
        shell: bash
        run: |
          mkdir -p ~/.ssh/
          echo "${SSH_KEY}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          echo "${SSH_KNOWN_HOSTS}" > ~/.ssh/known_hosts
        env:
          SSH_KEY: ${{ secrets.SSH_KEY }}
          SSH_KNOWN_HOSTS: ${{ secrets.SSH_KNOWN_HOSTS }}
      
      - name: ssh and submit job
        shell: bash
        run: |
          ssh -i ~/.ssh/id_rsa "${{ secrets.SSH_USERNAME }}}@${{ secrets.SSH_HOST }}:${{ secrets.SSH_PORT }}" <<'EOF'
            export NOMAD_ADDR="https://10.0.0.2:4646"
            export NOMAD_CACERT="/srv/certs/cluster-agent-ca.pem"
            export NOMAD_TOKEN="${{ secrets.NOMAD_TOKEN }}"
            cd "${{ vars.JOB_DIRECTORY }}"
            nomad job run -var="version=${{ inputs.version }}" "${{ vars.JOB_FILE_NAME }}"
          EOF
