name: Deploy

on:
  workflow_call:
    inputs:
      github-environment:
        type: string
        required: true
        description: "GitHub environment name"
      version:
        type: string
        required: true
        description: "Version to deploy"

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    concurrency: 
      group: deploy
      cancel-in-progress: false
    environment:
      name: ${{ inputs.github-environment }}
      url: https://dawnshard.co.uk
    steps:
      - name: ssh and submit job
        uses: appleboy/ssh-action@v1.2.1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script_stop: true
          script: |
            export NOMAD_ADDR="https://10.0.0.2:4646"
            export NOMAD_CACERT="/srv/certs/cluster-agent-ca.pem"
            export NOMAD_TOKEN="${{ secrets.NOMAD_TOKEN }}"
            cd "${{ vars.JOB_DIRECTORY }}"
            echo 'version = "${{ inputs.version }}"' > "${{ vars.JOB_FILE_NAME }}.vars"
            nomad job run -var-file="${{ vars.JOB_FILE_NAME }}.vars" "${{ vars.JOB_FILE_NAME }}"
