name: Lint

on:
  pull_request:
    paths:
      - "**.cs"
      - ".config/dotnet-tools.json"  
  push:
    branches:
      - main
    paths:
      - "**.cs"
      - ".config/dotnet-tools.json"

env:
  HUSKY: 0

jobs:
  csharpier:
    name: CSharpier
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "10.0.100"
      - name: Install tool dependencies
        run: dotnet tool restore
      - name: CSharpier check
        run: |
          dotnet csharpier check .
