name: Lint

on:
  pull_request:
    paths:
      - "**.cs"
      - ".config/dotnet-tools.json"  
  push:
    branches:
      - main
    paths:
      - "**.cs"
      - ".config/dotnet-tools.json"

env:
  HUSKY: 0

jobs:
  csharpier:
    name: CSharpier
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.202"
      - name: Install tool dependencies
        run: dotnet tool restore
      - name: CSharpier check
        run: |
          dotnet csharpier --version
          dotnet csharpier . --check
