name: publish-tag

on:
  push:
    tags:
      - "statemanager@*"

env:
  HUSKY: 0

jobs:
  publish:
    uses: ./.github/workflows/publish.yaml
    with:
      ref: ${{ github.ref_name }}
      dockerfile: "DragaliaAPI.Photon.StateManager/Dockerfile"
      image-name: "photon-state-manager"
    secrets: inherit
