name: Publish DragaliaAPI

on:
  push:
    branches:
      - main
    paths:
      - DragaliaAPI/**
      - Shared/**
      - Directory.Packages.props

env:
  HUSKY: 0

jobs:
  build:
    name: Build
    uses: ./.github/workflows/build.yaml
    with:
      ref: main
      dockerfile: "DragaliaAPI/DragaliaAPI/Dockerfile"
      image-name: "dragalia-api"
    secrets: inherit
  deploy:
    name: Deploy
    needs: build
    uses: ./.github/workflows/deploy.yaml
    with:
      github-environment: "Dawnshard"
    secrets: inherit
