name: Publish PhotonStateManager

on:
  push:
    branches:
      - main
    paths:
      - PhotonStateManager/**
      - Shared/**
      - Directory.Packages.props
      - .github/workflows/publish-statemanager.yaml
      - .github/workflows/build.yaml

env:
  HUSKY: 0

jobs:
  build:
    name: Build
    uses: ./.github/workflows/build.yaml
    with:
      ref: main
      dockerfile: "PhotonStateManager/DragaliaAPI.Photon.StateManager/Dockerfile"
      image-name: "photon-state-manager"
    secrets: inherit
  deploy:
    name: Deploy
    needs: build
    uses: ./.github/workflows/deploy.yaml
    with:
      github-environment: "PhotonStateManager"
      version: ${{ needs.build.outputs.tag }}
    secrets: inherit
