name: publish-tag

on:
  push:
    tags:
      - "api@*"

env:
  HUSKY: 0

jobs:
  publish:
    uses: ./.github/workflows/publish.yaml
    with:
      ref: ${{ github.ref_name }}
      dockerfile: "DragaliaAPI/Dockerfile"
      image-name: "dragalia-api"
    secrets: inherit
