name: publish-tag-manual

on:
  workflow_dispatch:
    inputs:
      tag:
        type: string
        required: true
        description: "Tag to publish"

env:
  HUSKY: 0

jobs:
  publish:
    uses: ./.github/workflows/publish.yaml
    with:
      ref: ${{ inputs.tag }}
      image-tag: ${{ inputs.tag }}
    secrets: inherit
