name: Test API

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - DragaliaAPI/**
      - Shared/**
      - Directory.Build.props
      - Directory.Packages.props

jobs:
  integration-test:
    name: Integration test
    needs: build
    uses: ./.github/workflows/integration-test.yaml
    with:
      project: DragaliaAPI/DragaliaAPI.Integration.Test
    secrets: inherit
  unit-test:
    name: Unit test
    needs: build
    strategy:
      matrix:
        project:
          [
            "DragaliaAPI/DragaliaAPI.Test",
            "DragaliaAPI/DragaliaAPI.Database.Test",
            "DragaliaAPI/DragaliaAPI.Shared.Test"
          ]
    uses: ./.github/workflows/test.yaml
    with:
      project: ${{ matrix.project }}