name: Test report

on:
  workflow_run:
    workflows: ["Test DragaliaAPI", "Test PhotonStateManager"]
    types:
      - completed

jobs:
  report:
    name: Generate test report
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Download artifacts
        uses: actions/download-artifact@v8
        with:
          github-token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          pattern: test-result-*
          merge-multiple: true
          run-id: ${{ github.event.workflow_run.id }}
      - name: Generate report
        uses: dorny/test-reporter@v2
        with:
          name: ${{ github.event.workflow_run.name }} report
          path: "*.trx"
          reporter: dotnet-trx
