name: test

on:
  pull_request:
  push:
    branches:
      - master
      - develop
    paths-ignore:
      - "**/*.yaml"
      - "**/*.yml"
      - "**/*.md"

env:
  HUSKY: 0

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: [ '7.0.x' ]
        project: ['DragaliaAPI.Test', 'DragaliaAPI.Database.Test', 'DragaliaAPI.Shared.Test']

    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET Core SDK ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ matrix.dotnet-version }}
      - name: Install dependencies
        run: dotnet restore ${{ matrix.project }}
      - name: Test
        run: >
          dotnet test ${{ matrix.project }} 
          --no-restore 
          -p:CollectCoverage=true 
          -p:CoverletOutputFormat="json" 
          -p:CoverletOutput="coverage_report.json"
          -p:Exclude=\"[*.Test]*,[DragaliaAPI.Test.Utils]*\"
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        with:
          files: ${{matrix.project}}/coverage_report.json
          name: codecov ${{ matrix.project }}
          