name: test

on:
  pull_request:
  push:
    branches:
      - master
      - develop
    paths-ignore:
      - "**/*.yaml"
      - "**/*.yml"
      - "**/*.md"

env:
  HUSKY: 0
  POSTGRES_USER: testing
  POSTGRES_PASSWORD: verystrongpassword

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: [ '7.0.x' ]
        project: ['DragaliaAPI.Test', 'DragaliaAPI.Integration.Test', 'DragaliaAPI.Database.Test', 'DragaliaAPI.Shared.Test']
    
    services:
      postgres:
        image: postgres
        ports:
          - "5432:5432"
        env:
          POSTGRES_USER: ${{ env.POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ env.POSTGRES_PASSWORD }}
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      redis:
        image: redis
        ports:
          - "6379:6379"
        

    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET Core SDK ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ matrix.dotnet-version }}
      - name: Install dependencies
        run: dotnet restore ${{ matrix.project }}
      - name: Test
        run: >
          dotnet test ${{ matrix.project }} 
          --no-restore 
          -p:CollectCoverage=true 
          -p:CoverletOutputFormat="cobertura" 
          -p:CoverletOutput="coverage_report.xml"
          -p:Exclude=\"[*.Test]*,[DragaliaAPI.Test.Utils]*,[DragaliaAPI.Database]DragaliaAPI.Database.Migrations.*,[DragaliaAPI]DragaliaAPI.Models.Generated.*\"
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        with:
          files: ${{matrix.project}}/coverage_report.xml
          name: codecov ${{ matrix.project }}
          