name: Test

on:
  workflow_call:
    inputs:
      project:
        type: string
        required: true
        description: "Path to project under test"

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      AUTOMATED_TESTING: true
    steps:
      - name: Get project name # Remove folder from project
        id: get-name
        run: >
          echo ${{ inputs.project }} | sed 's/.*\//name=/' >> "$GITHUB_OUTPUT"
        
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "10.0.100"

      - name: Load cache
        id: cache
        uses: actions/cache@v5
        with:
          path: .nuget-cache
          key: ${{ runner.os }}-nuget-${{ hashFiles('Directory.Packages.props') }}-${{ steps.get-name.outputs.name }}
          restore-keys: |
            ${{ runner.os }}-nuget-
        
      - name: Install dependencies
        run: dotnet restore ${{ inputs.project }} --packages .nuget-cache --verbosity normal

      - name: Test
        run: >
          dotnet test ${{ inputs.project }}
          -c Release
          --no-restore 
          --logger "console;verbosity=detailed"
          --logger "trx;LogFileName=${{ steps.get-name.outputs.name }}.trx"

      - name: Upload test report
        uses: actions/upload-artifact@v6
        if: success() || failure() # run this step even if previous step failed
        with:
          name: test-result-${{ steps.get-name.outputs.name }}
          path: ${{ inputs.project }}/TestResults/${{ steps.get-name.outputs.name }}.trx
