name: Test

on:
  workflow_call:
    inputs:
      project:
        type: string
        required: true
        description: "Path to project under test"

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Get project name # Remove folder from project
        id: get-name
        run: >
          echo ${{ inputs.project }} | sed 's/.*\//name=/' >> "$GITHUB_OUTPUT"
      - uses: actions/checkout@v4
      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"
      - name: Install dependencies
        run: dotnet restore ${{ inputs.project }}
      - name: Test
        run: >
          dotnet test -c Release ${{ inputs.project }}
          --no-restore 
          --logger "console;verbosity=detailed"
          --logger "trx;LogFileName=${{ steps.get-name.outputs.name }}.trx"
      - name: Upload test report
        uses: actions/upload-artifact@v4
        if: success() || failure() # run this step even if previous step failed
        with:
          name: test-result-${{ steps.get-name.outputs.name }}
          path: ${{ inputs.project }}/TestResults/${{ steps.get-name.outputs.name }}.trx
