name: test

on:
  pull_request:
  push:
    branches:
      - master
      - develop

env:
  HUSKY: 0
  POSTGRES_USER: testing
  POSTGRES_PASSWORD: verystrongpassword

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        project:
          [
            "DragaliaAPI.Test",
            "DragaliaAPI.Integration.Test",
            "DragaliaAPI.Database.Test",
            "DragaliaAPI.Shared.Test",
            "DragaliaAPI.Photon.StateManager.Test",
          ]

    services:
      postgres:
        image: postgres
        ports:
          - "5432:5432"
        env:
          POSTGRES_USER: ${{ env.POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ env.POSTGRES_PASSWORD }}
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      redis:
        image: redis
        ports:
          - "6379:6379"
        options: >-
          --health-cmd "redis-cli PING"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET Core SDK 7
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: "7.0.x"
      - name: Install dependencies
        run: dotnet restore ${{ matrix.project }}
      - name: Test
        run: >
          dotnet test ${{ matrix.project }} 
          --no-restore 
          --logger "console;verbosity=detailed"
          -p:CollectCoverage=true 
          -p:CoverletOutputFormat="cobertura" 
          -p:CoverletOutput="coverage_report.xml"
          -p:Exclude=\"[*.Test]*,[DragaliaAPI.Test.Utils]*,[DragaliaAPI.Photon.Plugin]*,[DragaliaAPI.Database]DragaliaAPI.Database.Migrations.*,[DragaliaAPI]DragaliaAPI.Models.Generated.*\"
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        with:
          files: ${{matrix.project}}/coverage_report.xml
          name: codecov ${{ matrix.project }}
